/* styles.css */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: rgb(171, 169, 169) ;
}
body p{
    color: rgb(171, 169, 169) ;
}
body h1{
    color: #FF4500 ;
}

body h3{
    color: #FFD700  ;
}
header {
    background-color: #121212;
    padding: 1em;
    text-align: left;
}

header nav ul {
    list-style: none;
    margin:0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin-right: 50px;
}

header nav a {
    color: #FF4500 ;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2em;
}

section {
    padding: 0 1em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

a {
    text-decoration: none;
    color: #FF0055;
}

a:hover {
    color: #39FF14;
}

#hero img{
    margin-top: 35px;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    
}

#hero p{
    padding: 0 3em;
    
}

#hero{
    display: flex;
    flex-direction: column;      /* Stack image and text vertically */
    align-items: center;
    gap: 20px;
}

#social-media ul{
    margin-right: 50px;
    display: flex;
    justify-content: space-evenly;
}

#social-media img{
    width: 100px;
    height: 70px;
}


header nav img{
    width: 45px;
    height: 45px;
    padding: 0;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #hero{
        margin-top: 25px;
        margin-left: 80px;
        align-items: center;
        padding:0;
    }
    
    img{
        width: 65%;
        height: 50%;
        
    }
  } 
